/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background: linear-gradient(45deg, #43cbff, #9708cc);
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

section {
  margin: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.projects div {
  border: 1px solid #ccc;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
