body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://i.pinimg.com/564x/f0/63/19/f06319f3e9e7aca5eb1617cf79dfbdc3.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  background: rgba(249, 249, 249, 0.9); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-4 {
  margin-top: 2rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.form-container {
  width: 100%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h3, h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: black;
}

h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.btn {
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}
